<h1 class="mt-3">Concert: {{concert!.name}}</h1>
<div class="card mt-4">
    <div class="card-body">
        <div class="row">
            <div class="col-4">
                <p>
                    Concert: {{concert!.name}}
                    <br/>
                    Startdatum: {{concert!.startDate.toLocaleDateString()}}
                    <br/>
                    Max. aantal tickets: {{concert!.maxTickets}}
                    <br/>
                    Minimum leeftijd: {{concert!.minimumAge}}
                </p>
            </div>
        </div>
    </div>
</div>