<h1 *ngIf="!isEditting" class="mt-5">Concert aanmaken</h1>
<h1 *ngIf="isEditting" class="mt-5">Concert aanpassen</h1>

<form #concertForm="ngForm" (ngSubmit)="concertForm.form.valid && onSubmit(concertForm)">
    <input *ngIf="isEditting" type="hidden" id="id" name="id" [(ngModel)]="concert!.id">
    <div class="mb-3">
        <label for="name" class="form-label">Naam</label>
        <input #name="ngModel" 
            [(ngModel)]="concert!.name" required type="text" class="form-control" id="name" name="name" aria-describedby="nameHelp">
    </div>
    <div class="mb-3">
        <label for="startDate" class="form-label">Startdatum</label>
        <input (ngModel)="concert!.startDate" 
            [ngModel]="concert!.startDate | date: 'MM/dd/yyyy'" 
            required type="text" class="form-control" id="startDate" name="startDate" aria-describedby="startDateHelp">
    </div>
    <div class="mb-3">
        <label for="maxTickets" class="form-label">Max. aantal tickets</label>
        <input [(ngModel)]="concert!.maxTickets" required type="number" class="form-control" id="maxTickets" name="maxTickets" aria-describedby="maxTicketsHelp">
    </div>
    <div class="mb-3">
        <label for="minimumAge" class="form-label">Minimum leeftijd</label>
        <input [(ngModel)]="concert!.minimumAge" required type="number" class="form-control" id="minimumAge" name="minimumAge" aria-describedby="minimumAgeHelp">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>